{% extends "home/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d" }}</small>
      </div>
      <h2 class="article-title">{{ object.question }}</h2>
       {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm" href="{% url 'question-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'question-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
         <hr>
         <h5>Answers</h5>
          <a href="{% url 'answer-create' question.pk %}">Add Answer</a>
          <br/><br/>
            {% for answer in question.answers.all %}
                <strong> {{ answer.user }}  </strong> 
                <br/>
                Answered {{ answer.date_submited |date:'F d' }}
                <br/>
                {{ answer.content}}
                <br/>

            {% if answer.user == user %}
          <div>
            <a class="btn btn-secondary btn-sm" href="{% url 'edit' question.id answer.id %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'answer-delete' answer.id %}">Delete</a>
          </div>
        {% endif %}
                <hr>
            {% endfor %}
         
           
    </div>
    
  </article>
{% endblock content %}